<% include partials/header %>

	<nav>
		<div class="navbar">
			<ul>
				<li><span><i class="fa fa-code" aria-hidden="true"></i></span><a href="#top">&nbsp;Portfolio</a></li>
			</ul>
			<ul class="navbar-links">
				<li><a href="#projects">Projects</li>
				<li><a href="#" id="trigger">Resume</a></li>
			</ul>
		</div>
	</nav>
	<section>
		<div id="resumePs">
			<a class="hiddenP" href="#" onclick="window.open('assets/CronanResume.pdf', '_blank', 'fullscreen=yes'); return false;">Print</a>
			<p id="triggerClose" class="hiddenP">Close</p>
		</div>
		<div class="resume">
			<canvas id="the-canvas" class="hiddenCanvas"></canvas>
		</div>
	</section>
	<section id ="top" class="header">
		<div class="hero">
			<div class="hero-container">
				<div>
					<div>
						<h1>Matt Cronan</h1>
					</div>
					<div>
						<h4>Web Developer</h3>
					</div>
				</div>
				<div class="hero-inner-container">
					<h4><span>mobile: </span>615.293.8285</h4>
					<h4><span>email: </span><a href="mailto:mattcronan.webdev@gmail.com">mattcronan.webdev@gmail.com</a></h4>
					<h4><span>GitHub: </span><a href="https://github.com/CronanTheCronan/">https://github.com/CronanTheCronan</a></h4>
				</div>
			</div>
		</div>
	</section>
	<section id="projects" class="projectSection">
		<div container="iframe-container">
			<div>
				<h2>Projects</h2>
				<hr>
				<div class="project-buttons">
					<div class="projects-buttons-inner">
						<div id="yelpcampBtn" class="projectbtn">YelpCamp</div>
						<div id="rgbBtn" class="projectbtn">RGB Guessing Game</div>
						<div id="mountainBtn" class="projectbtn">Startup Site</div>
						<div id="patatapBtn" class="projectbtn">Patatap Clone</div>
					</div>
				</div>
			</div>
			<div>
				<iframe id="iframe"src="https://matt-cronan.herokuapp.com/projects/yc" align="center" height="750" width="500" frameborder="1" allowfullscreen="true"></iframe>
			</div>
			<h4 id="aboutProject">About the project</h4>
			<div class="projectInfoDisp">
				<div>
					<p id="projectInfo">YelpCamp is my final project for the Web Development Bootcamp ran by Colt Steele. It was built using Node and Express with MongoDB serving as the database.
										The logins for this site have been disabled and are for demonstration purposes only, however they are functional and use passport for authentication. Each
										campsite added by the user also takes in an address or zip code which uses Google Maps API to provide a map of the location.  Users can post new campgrounds
										as well as post comments about their camp experience.
					</p>
				</div>
				<div>
					<button id="projectInfoBtn"><a id="projectBtnLink" href="https://matt-cronan.herokuapp.com/projects/yc" target="_blank">Open in a New Window</a></button>
				</div>
			</div>
			<div class="toTop">
				<a href="#"><h3><i class="fa fa-chevron-up" aria-hidden="true"></i>&nbsp;Back to top.</h3></a>
			</div>
		</div>
	</section>
	
<% include partials/footer %>
	